/***TOP PICTURE*/

.clientDash-img {
  text-align: center;
  display: table;
  width: 100%;
  height: 30vh;
  background-image: url("../images/data.gif");
  background-position: center;
  background-size: cover;
}
.clientDash-header1 {
  padding-top: 5%;
  display: table-cell;
  vertical-align: middle;
  font-family: "Baskervville", serif;
  font-size: 4rem;
}

.dashboard-btn {
  width: 100%;
}

.dashboard-label {
  text-align: center;
}

/***CLIENT INFO DIV*/
.dashboard-client-info-main {
  margin-top: 4em;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4em;
}
.dashboard-info {
  padding-left: 25%;
}
.dashboard-info-states {
  padding-right: 25%;
}
.dashboard-h1 {
  color: #388fc2;
}

/**********DIAGRAMS ********************/
.dashboard-diagrams-addState {
  display: flex;
  margin-bottom: 5%;
  margin-top: 2%;
}

.dasboard-diagrams-addstate-stateInput {
  padding: 0 10px;
  width: 80%;
  border-radius: 3px 0 0 3px;
  height: 44px;
  display: block;
  float: left;
  margin: 1em 0 2em;
  border: none;
  border: 1px solid lightblue;
  font-size: 1em;
}
.dasboard-diagrams-addstate-submit {
  height: 44px;
  display: block;
  float: left;
  margin: 1em 0 2em;
  border: none;
  border: 1px solid lightblue;
  font-size: 1em;
  background: green;
  color: #fff;
  padding: 0;
  cursor: pointer;
  width: 20%;
  border-radius: 0 3px 3px 0;
}

.addstate-form {
  display: block;
  float: right;
  padding-right: 5%;
}
.addState-innerDiv {
  width: 50%;
}

.notes-list {
  margin: 0;
  list-style-type: none;
  background: #fff;
  padding-left: 5%;
}

.notes-list li {
  font-weight: 400;
  color: #222;
  font-size: 1em;
  line-height: 1.5;
  background: #fff;
  text-align: left;
  padding: 8px 0;
  transition: all 0.3s linear;
  height: 44px;
  width: 50%;
}

.notes-list li:hover {
  background: #dee2e6;
}

.notes-list li i {
  padding-right: 10%;
  padding-top: 1%;
  float: right;
}

.notes-list li i:hover {
  cursor: pointer;
}

/*************************CHARTs DIV**************************/

.dashboard-graphs {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 5%;
}

.individual-chart {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  align-content: center;
}
.individual-chart h1 {
  color: #388fc2;
  font-size: 2rem;
}

.individual-chart h3 {
  color: #43b148;
}
.chart-content {
  width: 50%;
  text-align: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
.filter-inner {
  float: left;
}
@media screen and (max-width: 950px) {
  .addstatediv {
    margin-left: 15%;
  }
  .dashboard-client-info-main {
    height: 100%;
    display: block;
    justify-content: space-between;
  }
  .dashboard-info {
    padding-left: 0;
    margin-bottom: 20%;
  }
  .dashboard-info-states {
    padding: 0;
  }
  .dashboard-graphs {
    display: block;
    width: 100%;
  }
  .individual-chart {
    margin-bottom: 5em;
  }
  .notes-list li i {
    padding-right: 0;
    padding-top: 0;
    float: right;
  }
}
