@import "./filter.components/filterBookmarkBtn.scss";
@import "./filter.components/savedFilters.scss";
$color1: #f4f4f4;
$color2: #3197ee;

/***********************TOP DIV*************************************/
#notes-city i {
  padding-right: 10%;
  padding-top: 1%;
  float: right;
}

#notes-city li {
  width: 100%;
}

.filter-top-main {
  display: flex;
  width: 100%;
  margin-top: 3%;
}
.required-filters {
  width: 30%;
  margin-left: 1%;
}
.filter-top-charts {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.filter-chart1 {
  width: 30%;
}
.table-container {
  text-align: center;
}
.filter-control {
  width: 100%;
  margin-bottom: 2%;
}
.state-input-input {
  width: 50%;
}
.filter-btn {
  width: 100%;
  margin-top: 5%;
}

.radio-container {
  margin-top: 15%;
  margin-bottom: 15%;
}
.filter-addState {
  width: 100%;
}
.filter-planAndBusiness {
  width: 100%;
}
.filter-state-input-field {
  display: flex;
  width: 100%;
}
.filter-add-state-field {
  width: 50%;
}
//RADIO//

input[type="radio"] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.filter-year-label {
  color: lighten(#332f35, 30%);
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
  margin-bottom: -0.5px;
}

input[type="radio"]:checked + .filter-year-label {
  color: lighten(#332f35, 60%);
  background: #332f35;
}

.filter-year-label + input[type="radio"] + .filter-year-label {
  border-left: solid 3px #332f35;
}
.radio-group {
  border: solid 3px #332f35;
  display: inline-block;
  margin: 0;
  border-radius: 10px;
  overflow: hidden;
}

.filter-required-selection-div {
  text-align: center;
  width: 70%;
}
.filter-required-selection-h1 {
  color: black;
}
.filter-main-search-btn {
  margin-top: 4%;
}
.filter-main-saveFilter-btn {
  margin-top: 2%;
}
.filter-submit-btn {
  display: block;
  width: 20%;
  background-color: #4caf50;
  color: white;
  border-radius: 3%;
  border: 0;
  height: 40px;
  margin: 0 auto; // auto left/right margins
}

.filter-submit-btn:hover {
  background-color: lightgreen;
}
.filter-saveFilter-btn {
  display: block;
  width: 20%;
  background-color: #388fc2;
  color: white;
  border-radius: 3%;
  border: 0;
  height: 40px;
  margin: 0 auto; // auto left/right margins
}
.filter-saveFilter-btn:hover {
  background-color: #9dd4f5;
}
.filter-list-holder {
  width: 50%;
}
/***********************NET INCOME FILTER*********************/
.filter-netIncome-div {
  display: flex;
}
.netIncome-filter {
  width: 50%;
}
.filter-netIncome-label {
  width: 20%;
}
.filter-min-max-assets {
  margin-top: 5%;
  width: 50%;
}
.filter-h2 {
  width: 50%;
  text-align: center;
}

/*******************BOTTOM DIV************************/
.filter-bottom-main {
  margin: 1%;
  margin-top: 3%;
}
.filter-td-income {
  white-space: nowrap;
}
.filter-bottom-sort-div {
  text-align: center;
}
.filter-table-header-clickable:hover {
  cursor: pointer;
}
.filter-required-logo {
  width: 50%;
  height: 80%;
}
.filter-bookmarks {
  flex: 1 0 100%;
  text-align: center;
}
.filter-select-company-type {
  width: 100%;
  margin-top: 3%;
  display: flex;
}

.filter-company-label {
  width: 100%;
  text-align: right;
}
.filter-select-form-control {
  margin-right: 3%;
  margin-left: 3%;
  display: block;
  width: 100%;
  font-size: 0.8rem;
  padding-left: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#dfe-options {
  display: none;
}
/*********************PAGINATION********************/
.pagination-large {
  text-align: center;
}
.input-page-pagination {
  width: 55px;
}

@media screen and (max-width: 1024px) {
  .filter-top-main {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 5%;
  }
  .filter-innerDiv {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .filter-top-filters {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .filter-form {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .filter-top-charts {
    width: 100%;
    display: block;
  }

  .filter-chart1 {
    width: 50%;
    height: 100%;
  }
  .required-filters {
    display: flex;
    width: 100%;
  }
  .state-input-fields {
    width: 100%;
  }
}
