@import "./userProfile.component//freeStates.scss";
.purchase-main-div {
  margin-bottom: 5%;
}
.purchase-controls {
  width: 100%;
  margin-left: 3%;
  margin-right: 3%;
  padding-left: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.purchase-div {
  display: flex;
  width: 70%;
  margin: 0 auto;
}
.purchase-controls-div {
  width: 100%;
  margin: 1%;
  display: flex;
  align-items: center;
}
.purchase-add-btn {
  width: 15%;
  margin-top: 3%;
}
.purchase-list-holder {
  width: 50%;
  margin: 3% auto;
}
.purchase-totalAmount {
  color: #388fc2;
  text-align: center;
  font-size: 35px;
}
.purchase-adding-table {
  margin-top: 2%;
  width: 50%;
  text-align: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
}
.addUser-label {
  display: block;
  margin: 25px auto 0;
  text-align: center;
  position: relative;

  .addUser-span {
    font-size: 12px;
    color: #388fc2;
    text-transform: uppercase;
  }
}
.usermanagement {
  -webkit-border-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#fff),
      to(#afd4ec),
      color-stop(0.2, #afd4ec)
    )
    0 0 0 0 repeat repeat;
}
