.plan-businessInfo {
  text-align: center;
  margin-top: 3%;
}

.plan-businessInfo-2 {
  background-color: #f3f4f8;
  text-align: center;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.plan-profile-chartsDiv {
  width: 45%;
  margin: 0, auto;
  background-color: white;
  border-radius: 25px;
  border: 1px solid lightgray;
}
.invisible-table {
  display: none;
}
.plan-graphs {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  .plan-table-section {
    align-items: center;
  }

  td {
    white-space: nowrap;
    overflow: hidden;
  }
}
.plan-profile-100 {
  width: 100% !important;
}
.planprofile-chart-content {
  width: 100%;
  text-align: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
.plan-h1 {
  color: #388fc2;
  text-align: center;
}
.plan-table-section {
  display: inline-block;
  width: 90%;
  text-align: center;
  td {
    white-space: nowrap;
    overflow: hidden;
  }
}

.plan-table-section-Pension {
  display: inline-block;
  width: 90%;
  text-align: center;
}
.plan-table-section-BusinessInfo {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.plan-table-section-Contact {
  display: inline-block;
  width: 50%;
  text-align: center;
  td {
    white-space: nowrap;
    overflow: hidden;
  }
}
.chart-plan-section {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.business-main-tables {
  display: flex;
  justify-content: space-around;
}
.planProfile-header-h1 {
  color: #388fc2;
  text-align: left;
  font-family: "Abril Fatface";
  font-size: 20;
  padding-left: 3%;
}
.inside-business-div {
  background-color: white;
  margin-left: 3%;
  border-radius: 25px;
  border: 1px solid lightgray;
  margin-top: 3%;
}
.businessplan-smallDiv {
  margin: auto;
  background-color: white;
  border-radius: 25px;
  border: 1px solid lightgray;
  text-align: center;
  align-self: center;
  margin-top: 5%;
  width: 100%;
  padding-bottom: 1%;
}
@media screen and (max-width: 1024px) {
  .plan-table-section {
    width: 100%;
  }
  .plan-graphs {
    display: block;
    width: 100%;
  }
  .business-main-tables {
    display: inline-block;
  }
}
