.plan-businessInfo {
  text-align: center;
  margin-top: 3%;
}
.invisible-table {
  display: none;
}
.plan-graphs {
  display: flex;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  .plan-table-section {
    display: flex;
    align-items: center;
  }

  td {
    white-space: nowrap;
    overflow: hidden;
  }
}
.plan-profile-100 {
  width: 100% !important;
}
.planprofile-chart-content {
  width: 100%;
  text-align: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
.plan-h1 {
  color: #388fc2;
  text-align: center;
}
.plan-table-section {
  display: inline-block;
  width: 90%;
  text-align: center;
  td {
    white-space: nowrap;
    overflow: hidden;
  }
}

.plan-table-section-Pension {
  display: inline-block;
  width: 90%;
  text-align: center;
}
.plan-table-section-BusinessInfo {
  display: inline-block;
  width: 50%;
  text-align: center;
  td {
    white-space: nowrap;
    overflow: hidden;
  }
}
.plan-table-section-Contact {
  display: inline-block;
  width: 50%;
  text-align: center;
  td {
    white-space: nowrap;
    overflow: hidden;
  }
}
@media screen and (max-width: 1024px) {
  .plan-table-section {
    width: 100%;
  }
  .plan-graphs {
    display: block;
    width: 100%;
  }
}
