@import "./basic/settings.scss";
@import "./pages/page404.scss";
@import "./dataPages//Magellan.scss";
@import "./dataPages/clientDashboard.scss";
@import "./fonts/font-awesome-4.7.0/css/font-awesome.min.css";

.btn-primary {
  background-color: #388fc2 !important;
}

.btn-primary:hover {
  background-color: #84c0df !important;
}
.thead-dark th {
  background-color: #388fc2 !important;
}
.table-bordered td,
.table-bordered th {
  border: 1px solid #84c0df !important;
}
.negative-numbers {
  color: red;
}
table.table tr td,
table.table tr th {
  page-break-inside: avoid !important;
}
