.onepager-top-div-main {
  text-align: center;
}
.onepagertopbuttons {
  width: 15rem;
  margin: 3%;
}
.onepageremailbuttons {
  margin: 1rem;
}
.onepager-top-emailform {
  display: none;
  margin-top: 3%;
}
.onePager-top-logo {
  width: 10rem;
}
.onepager-textarea {
  margin-left: 3%;
  margin-right: 3%;
  width: 100%;
}
.onepager-emailform-email {
  display: flex;
  width: 100%;
}
.onepager-top-mainemail {
  display: flex;
  width: 100%;
}
.onepager-top-fromto {
  width: 40%;
}
.onepager-top-fromto-inner {
  display: flex;
}
.onepager-fromto-label {
  line-height: 2.5rem;
  font-size: 20px;
  padding-right: 10px;
  width: 20%;
}
.onepager-emailform-buttons {
  margin-top: 1rem;
}
.onePager-Link {
  color: white;
}
.onePager-Link:hover {
  text-decoration: none;
  color: white;
}
.responsive-table-div {
  overflow-x: auto;
  td {
    white-space: nowrap;
    overflow: hidden;
  }
}
//*************EMAIL ALERT*****************************

.portfolio-popup {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  opacity: 1;
  transform: scale(1);
}

/* Modal Content */
.portfolio-popup-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  margin: 0 auto;
  border-radius: 16px 16px 16px 16px !important;
}

@media screen and (max-width: 1024px) {
  .onepager-emailform-email {
    text-align: center;

    display: block;
  }
  .onepager-top-mainemail {
    display: block;
  }
  .onepager-top-fromto {
    width: 100%;
    margin-top: 1rem;
  }
  .onepager-textarea {
    margin-left: 0;
    margin-right: 0;
    white-space: pre-wrap;
  }
}
.one-pager-attachment-logo {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  display: none;
}
